@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins, serif;
}

.header-top {
    padding: 10px 0px;
}

.right {
    text-align: right;
}

.main-heading {
    margin-top: 20px;
    text-align: center;
    color: #0c0f12;
    
}

.header-middle {
    background-color: #0e4d92;
}

.nav-link {
    color: white;
    border-right: 2px solid rgba(169, 165, 165, 0.981);
}

.navbar-nav {
    margin: 0px auto;
}

.navbar-toggler {
    background-color: white;
    margin-left: auto;
}

@media screen and (max-width: 992px) {
    .none {
        display: none;
    }
}


marquee {
    font-size: 18px;
    font-weight: 700;
    color: #0e4d92;
    padding: 10px 0px;
}

marquee p {
    cursor: pointer;
}

.bgcolor-matter {
    background-color: #0e4d92;
    padding: 20px;
    margin-top: 150px;
}

.text-color {
    color: white;
}

.foot-img img {
    width: 120%;
    height: 90px;

}

.card-text {
    padding: 0px 40px;
}

.border-box {
    border: 2px solid #0e4d92;
    width: 100%;
    height: 70vh;
    border-radius: 25px;
    overflow: hidden;

}

.col-lg-8 {
    padding: 35px;
    background-color: #0e4d92;
    color: white;
}

.col-lg-8 p {
    margin: 20px;
}

.col-lg-4 h5 {
    color: #0e4d92;
    font-weight: 900;
    margin: 20px;
}

.col-lg-4 {
    color: #0e4d92;
}

.col-lg-4 h6 select {
    margin-left: 60px
}

.hr {
    height: 2px;
    border-width: 0;
    background-color: #03203e;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: green;
    width: 230px;
    height: 40px;
    color: white;
    border-radius: 50px;
    margin-left: 150px;
    border: none;
}

button:hover{
    border: none;
    background-color: #0e4d92;
}

